/* Reset Margin & Padding agar rapi */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212; /* Warna dasar hitam gelap ala Spotify */
  color: #ffffff; /* Teks berwarna putih */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Mengatur agar link tidak bergaris bawah secara default */
a {
  color: #1DB954; /* Warna hijau khas Spotify */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
